{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/index.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <header> 
    {{ template "header" . }}
  </header>
  <body class="bg-zinc-900 text-white">
    {{ template "PostSummaryList" .Posts }}
  </body>
</html>
{{ end }}

{{ block "header" . }}
<div class="bg-zinc-900 max-h-20">
  <div class="grid grid-cols-3 gap-24 justify-between"> 
    <div class="px-6 border-2 rounded border-yellow-100">
      <a href="/">
        <img src="/images/home-button-white.png" class="w-12 h-12">
      </a>
    </div>
    <div class="border-2 rounded border-yellow-100">1</div>
    <div class="border-2 rounded border-yellow-100">2</div>
  </div>
  <div class="my-1 flex justify-center">
    <hr class="border-orange-700 bg-orange-700 h-1 rounded w-11/12 ">
  </div>
</div>
{{ end }}

{{ block "PostSummaryList" . }}
<div>
  {{ range . }}
    {{ template "Post" . }}
  {{ end }}
</div>
{{ end }}

{{ block "Post" . }}
<div> 
  CreatedAt: {{ .CreatedAt }}
  </br>
  Title: {{ .Title }}
  </br>
  Blurb: {{ .Blurb }}
  </br>
  Body: {{ .Body }}
  </br>
</div>
{{ end }}

