{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/index.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
  </head>
  <body>
    {{ template "header" . }}
    <hr>
    {{ template "PostSummaryList" .Posts }}
  </body>
</html>
{{ end }}

{{ block "header" . }}
<div>
  This is the header
</div>
{{ end }}

{{ block "PostList" . }}
<div>
  {{ range . }}
    {{ template "Post" . }}
  {{ end }}
</div>
{{ end }}

{{ block "Post" . }}
<div> 
  CreatedAt: {{ .CreatedAt }}
  Title: {{ .Title }}
  Blurb: {{ .Blurb }}
  Body: {{ .Body }}
</div>
{{ end }}

