{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/index.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <header> 
    {{ template "header" . }}
  </header>
  <body class="bg-zinc-900 px-48 text-white">
    {{ template "PostSummaryList" .Posts }}
  </body>
</html>
{{ end }}

{{ block "header" . }}
<div class="bg-zinc-900 max-h-20">
  <div class="flex flex-row items-end justify-between"> 
    <div class="pl-4 basis-20">
      <a href="/">
        <img src="/images/home-button-white.png" class="w-8 h-8">
      </a>
    </div>
    <div class="flex flex-row items-end gap-4">
      <span class=""><a href="/blog"><b>blog</b></a></span>
      <span class=""><a href="/contact"><b>contact</b></a></span>
      <span class=""><a href="/discrss"><b>discRSS</b></a></span>
    </div>
    <div class="gap-4">
      <img src="/images/github-logo.png" class="w-16 h-10">
    </div>
  </div>
  <div class="my-1 flex justify-center">
    <hr class="border-stone-700 bg-stone-700 h-0.5 rounded w-11/12 ">
  </div>
</div>
{{ end }}

{{ block "PostSummaryList" . }}
<div class="px-12">
  {{ range . }}
    {{ template "Post" . }}
  {{ end }}
</div>
{{ end }}

{{ block "Post" . }}
<div class="mt-4"> 
  CreatedAt: {{ .CreatedAt }}
  </br>
  Title: {{ .Title }}
  </br>
  Blurb: {{ .Blurb }}
  </br>
  Body: {{ .Body }}
  </br>
</div>
{{ end }}

